@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

//*******************************
.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  padding: 48px;
  margin: 0;
  box-sizing: border-box;
  // background: #4C5865;
  // background: #A3B8CC;
  // background: #E5E5E5;
  background: #222B33;
}
//*******************************


html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  font-family: $mainFont;
	font-family: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a {
	text-decoration: none;
}

ul, li, p {
  margin: 0;
  padding: 0;
}

section, .section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $desktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 20px 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: $desktopWidth;
  margin: 0 auto;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: smPhoneWidth;
  }
}

.fontsList{
  font-size: 16px;
  margin-left: 2em;
  list-style-type: square;
}

.fontsList_fifth  {
  font-family: "VLADOVSKIY";
}



button, 
button:active, 
button:focus {
  outline: 0 !important;
}
// **********
//  CheckBox
// **********
.conteiner {
  display: flex;
  flex-direction: row;
}
.checkbox {
  background-color: #333940;
  border: 2px solid #333940;
  border-radius: 4px;
  width: 48px;
  height: 48px;
  margin: 5px;
}
.checkbox:disabled {
  background-color: #333940;
  border: 2px solid #333940;
}
.active {
  border: 2px solid #FF7F22;
  background-color: #222B33;
}
.fillGray {
  fill:#4C5865;
}

.fillWhite {
  fill:white;
}

.fillOrange {
  fill:#FF7F22;
}